:root {
    --blanco: #FDF7FA;
    --rojo: #DF2935;
    --negro: #07090F;
    --gris: #E6E8E6;
    --verde: #4CAF50;
}

.contenedor-alarmas {
    width: 1300px;
    padding: 20px;
    margin-left: 310px;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
.contenedor-alarmas .alarmas-botones{
    display: flex;
    align-self: normal;    
}
button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--rojo);
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: var(--negro);
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s;
}

.modal .modal-contenido {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

.modal h2 {
    margin-bottom: 20px;
}

.modal label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.modal input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-botones {
    display: flex;
    justify-content: space-between;
}

.modal-botones button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-botones button:first-child {
    background-color: var(--negro);
}

.modal-botones button:last-child {
    background-color: var(--verde);
    color: #fff;
}

.modal.mostrar {
    visibility: visible; 
    opacity: 1;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--rojo);
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: var(--negro);
}
