:root {
    --blanco: #FDF7FA;
    --rojo: #DF2935;
    --negro: #07090F;
    --gris: #E6E8E6;
    --verde: #4CAF50;
}
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}
.logo{
    text-align: center;
}
header {
    background-color: var(--rojo);
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
main {
    padding: 20px;
}

.botones-categorias {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

button {
    background-color: var(--rojo);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--negro);
}

.lista-citas {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cita {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
}

.cita:last-child {
    border-bottom: none;
}

.hora {
    width: 25%;
    text-align: center;
    background-color: var(--negro);
    color: #fff;
    border-radius: 10px 0 0 10px;
    padding: 10px;
}

.hora p {
    margin: 10px 0;
}

.detalle {
    width: 75%;
    padding: 10px 20px;
}

.detalle h3 {
    margin: 5px 0;
    font-size: 18px;
}

.detalle p {
    margin: 5px 0;
    font-size: 14px;
}

.icon-location::before,
.icon-clock::before {
    content: '• ';
    color: #0078d7;
    font-weight: bold;
}
.eliminada {
    text-decoration: line-through;
    color: red;
}

.icono-x {
    color: red;
    font-weight: bold;
    margin-left: 10px;
}
