:root {
    --blanco: #FDF7FA;
    --rojo: #DF2935;
    --negro: #07090F;
    --gris: #E6E8E6;
    --verde: #4CAF50;
}
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
}
.logo{
    background-color: var(--blanco);
}
.logo h2{
    color: var(--negro);
    font-weight: bold;
}

.header {
    display: flex;
    width: 1700px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
    border-bottom: 2px solid #ddd;
}

.header h1 {
    font-size: 24px;
}

.header .search-container {
    display: flex;
    align-items: center;
}

.header input[type="text"] {
    padding: 5px;
    margin-right: 10px;
    font-size: 16px;
}

.breed-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 10px; 
    margin: 20px auto;
    padding: 10px;
    max-width: 800px; 
}

.breed-buttons button {
    margin: 0;
    padding: 15px 30px; /* Aumentar el padding */
    background-color: var(--rojo);
    border: 1px solid #ddd;
    font-size: 18px; /* Aumentar el tamaño de la fuente */
    cursor: pointer;
    transition: background-color 0.3s;
    flex: 1 1 calc(50% - 20px); /* Cambiar a 50% para más botones en una fila */
    max-width: calc(50% - 20px); /* Ajustar el max-width */
    box-sizing: border-box;
    text-align: center;
}

.breed-buttons button:hover {
    background-color: var(--negro);
}

.actions {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: relative; 
    z-index: 2; 
    margin-right: 90px; 
}

.actions button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--rojo);
    border: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px; 
}

.actions button:hover {
    background-color: var(--negro);
}
.volver-boton {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: var(--rojo); 
}

/* Estilo para los modales */
.modal {
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 1000px; 
}
.modal-content h2{
    font-size: 30px;
    text-align: center;
    margin-left: 430px;
    display: flex;
}
.raza-modal{
    display: flex;
    flex-direction: row;
}

.modal-content p{
    width: 480px;
    height: 250px;
    margin-top: 60px;
    margin-left: 20px;
    font-size: 20px;
    background-color: var(--gris);
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
